<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" >
        <meta name="format-detection" content="telephone=no"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <title>VUE2 DEMOS FORM</title>
    </head>
    <body>
        <div id="vm1">
            <span>Multiline message is:</span>
            <p style="white-space: pre">{{ message }}</p>
            <br>
            <textarea v-model="message" placeholder="add multiple lines"></textarea>
        </div>
        <hr/>
        <div id="vm2">
            <input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
            <label for="jack">Jack</label>
            <input type="checkbox" id="john" value="John" v-model="checkedNames">
            <label for="john">John</label>
            <input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
            <label for="mike">Mike</label>
            <br>
            <span>Checked names: {{ checkedNames }}</span>
        </div>
        <hr/>
        <div  id="vm3">
            <template v-for='item in names'>
                <input type="checkbox" v-bind:id="item.id" v-bind:value="item.value" v-model="checkedNames">
                <label v-bind:for="item.value">{{item.value}}</label>
            </template>
            <span>Checked names: {{ checkedNames }}</span>
        </div>
        <hr/>
        <div id="vm4">
            <input
              type="checkbox"
              v-model="toggle"
              v-bind:true-value="a"
              v-bind:false-value="b"
            >
            <p>是否选中{{toggle}}</p>
        </div>
        <hr/>
        <div id='vm5'>
            <input v-model.number="age" type="number">
        </div>
    </body>
    <script type="text/javascript" src="../../node_modules/vue/dist/vue.min.js"></script>
    <script type="text/javascript">
        var vm1 = new Vue({
            el:'#vm1',
            data:{
                message:''
            }
        });

        var vm2 = new Vue({
            el:'#vm2',
            data:{
                names:{
                    'Jack': 'Jack',
                    'John': 'John',
                    'Mike': 'Mike',
                },
                checkedNames:[]
            }
        });

        var vm3 = new Vue({
            el:'#vm3',
            data:{
                names:[{
                    id:'Jack',value:'Jack'
                },{
                    id:'John',value:'John'
                },{
                    id:'Mike',value:'Mike'
                }],
                checkedNames:[]
            }
        });

        var vm4 = new Vue({
            el:'#vm4',
            data:{
                toggle:'true value',
                a:'true value',
                b:'false value',
            }
        });

        var vm5 = new Vue({
            el:'#vm5',
            data:{
                age:''
            }
        });
    </script>
</html>