<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" >
        <meta name="format-detection" content="telephone=no"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <title>VUE2 DEMOS</title>
        <style type="text/css">
            .style1{
                color: green;
            }
            .style2{
                background-color: blue;
            }
        </style>
    </head>
    <body>
        <div id="demo1" v-html="hello"></div>
        <hr/>
        <div id="demo2">
            <p>message:{{message|uppercase}} </p>
            <p>reversedMessage:{{reversedMessage|uppercase}} </p>
        </div>
        <hr/>
        <div id="demo3">
            <ul>
                <li v-for="todo in todos">
                    {{todo.text}}
                    <button @click='alarm(todo)'>{{todo.status}}</button>
                </li>
            </ul>
        </div>
        <hr/>
        <div id="demo4">
            <input v-model="inputcontent" />
            <p>{{echo}}</p>
        </div>
        <hr/>
        <div id="demo5" v-bind:class='fontColor' v-bind:style="[styles]">
            {{content}}
        </div>
        <hr/>
        <div id="demo6">
            <div v-if='ok'>yes</div>
            <div v-else>no</div>
            <template v-if="ok">
              <h1>Title</h1>
              <p>Paragraph 1</p>
              <p>Paragraph 2</p>
            </template>
        </div>
        <hr/>
        <div id="demo7">
            <ul>
                <li v-for='n in evennumber'>
                    {{n}}
                </li>
            </ul>
        </div>
        <hr/>
    </body>
    <script type="text/javascript" src="../../node_modules/vue/dist/vue.min.js"></script>
    <script type="text/javascript">
        var  vm1 = new Vue({
            el:'#demo1',
            data:{
                hello:'<h2>hello world</h2>'
            }
        });

        // computed
        var vm2 = new Vue({
            el:'#demo2',
            data:{
                message:'hello vue'
            },
            filters: {
                uppercase:function(message){
                    return String.prototype.toLocaleUpperCase.call(message);
                }
            },
            computed: {
                reversedMessage:{
                    get:function(){
                        return [...this.message].reverse().join('');
                    },
                    set: function(newValue){
                        this.message = newValue+' changed by set function';
                    }
                }
            }
        });
        setTimeout(function(){
            vm2.$data.message = 'hello world vue2.0';
        },1000);

        // v-on:click
        var vm3 = new Vue({
            el:'#demo3',
            data:{
                todos:[
                    {text:'记单词', status:'未完成'},
                    {text:'学习ES6', status:'已完成'},
                    {text:'学习VUE2', status:'未完成'}
                ]
            },
            methods:{
                alarm:function(todo){
                    alert(todo.text+todo.status);
                }
            }
        });

        // watch
        var vm4 = new Vue({
            el:'#demo4',
            data:{
                inputcontent:'',
                echo:'Waiting for you input'
            },
            watch: {
                inputcontent: function(value){
                    this.echo = 'your input is ' + value;
                }
            }
        });

        // v-bind:class v-bind:style
        var vm5 = new Vue({
            el:'#demo5',
            data:{
                content:'这行字是红色的,背景是黄色的',
                styles:{
                    'font-size':'20px',
                    'background-color':'pink'
                }
            },
            computed:{
                fontColor: function(){
                    return {
                        style1:true,
                        style2:false
                    };
                }
            }
        });

        // v-if
        var vm6 = new Vue({
            el:'#demo6',
            data:{
                ok:true
            }
        });

        var vm7 = new Vue({
            el:'#demo7',
            data:{
                number:[1,2,3,4,5,6,7,8,9]
            },
            computed:{
                evennumber: function(){
                    return this.number.filter(item=>item%2);
                }
            }
        });
    </script>
</html>