{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "esmodules": true
                }
            }
        ]
    ],
    "plugins": [
        "syntax-dynamic-import"
    ]
}
