<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('./../partial/head.html',{title:'spread'}) -%>
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <!-- rev-hash -->
        <link rel="stylesheet" href="/css-build/spread/index.css">
        <!-- end -->
    </head>
    <body>
        <div id="app" v-cloak>
            <el-container>
                <el-header><%=__("想你所想")%><span style="float: right;">pv:<%=pv%></span></el-header>
                <el-main >
                    <div class="sourceWebSite" style="display:none;"><span><%=source%>：</span></div>
                    <div>
                        <div class="demo-input-suffix">
                            <el-input
                                placeholder="<%=__("输入电影名称")%>"
                                prefix-icon="el-icon-search"
                                @keyup.enter.native="search"
                                v-model.trim="name">
                            </el-input>
                        </div>
                        <el-button type="primary" @click="search">SEARCH</el-button>
                        <template>
                            <el-button type="primary" @click="searchBatch">自动抓取</el-button>
                            <span v-if="showBatchRes">抓取到数据：{{increament}}条</span>
                        </template>
                    </div>

                    <div
                        class="wrap"
                        v-loading="loading">
                        <div v-show="data.list.length>0">

                            <el-table :data="data.list" class="table-wrap"
                                @selection-change="handleSelectionChange"
                                stripe>
                                <el-table-column
                                    type="selection"
                                    width="55">
                                 </el-table-column>
                                <el-table-column type="expand">
                                    <template slot-scope="props">
                                        <el-form label-position="left" inline class="demo-table-expand">
                                        <el-form-item label="下载链接">
                                            <a :href="props.row.dl" class="dl">{{ props.row.dl }}</a>
                                        </el-form-item>
                                        </el-form>
                                    </template>
                                </el-table-column>

                                <el-table-column label="名称" class-name="movie-name">
                                        <template slot-scope="scope">
                                            <a :href="scope.row.link" target="_blank">{{scope.row.name}}</a>
                                        </template>
                                </el-table-column>
                                <el-table-column label="收录日期" width="200">
                                    <template slot-scope="scope">{{scope.row.recordDate | dateformater}}</template>
                                </el-table-column>
                                <el-table-column prop="count" label="文件数量" width="150"> </el-table-column>
                                <el-table-column prop="size" label="文件大小" width="150"> </el-table-column>
                            </el-table>
                            <p class="sourceSite"><%=source%>：{{data.sourceSite}} : {{data.list.length}}条</p>
                            <div class="tool">

                                <el-button type="primary"
                                    icon="el-icon-download"
                                    @click="saveToBaiduYun"
                                    :disabled="canDownLoad===false"
                                >一键保存至百度云</el-button>
                                <el-button
                                    :disabled="canDownLoad===false"
                                    type="primary"
                                    icon="el-icon-tickets"
                                    data-clipboard-action="copy" id="copyurl"
                                    @click="saveToBaiduYun"
                                >复制url</el-button>
                            </div>
                        </div>

                        <div v-if="data.list.length===0 && this.loading === false"> {{data.message}} </div>
                    </div>

                </el-main>
                <el-footer><%=year%>/<%=month%>/<%=date%> Version <%=version%></el-footer>
            </el-container>
        </div>
        <%- include ../partial/commonScripts.html -%>
        <!-- rev-hash -->
        <script type="text/javascript" src="/scripts-build/app/spread/spreadMain.js?v=e0a6edfbe14049286c5713d57e1a1f10"></script>
        <!-- end -->
    </body>
<html>
