<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>TEST</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, viewport-fit=cover">
        <meta name="format-detection" content="telephone=no"/>
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <link rel="shortcut icon" href="/favicon.png" type="image/x-icon"/>
        <!-- rev-hash -->
        <link rel="stylesheet" href="/css-build/lib/common.css?v=487f77af1a270b3d2c9cd0182dfc45b7"/>
        <!-- end -->
        <style type="text/css">
            [v-cloak] {
                display: none !important;
            }
        </style>
    </head>
    <body>
        <div class="sem" id="app" v-cloak>
            <ul>
                <li><router-link to="/list">list</router-link></li>
                <li><router-link to="/view">view</router-link></li>
            </ul>
            <router-view ref="viewLog"></router-view>
        </div>
        <!-- rev-hash -->
        <script type="text/javascript" src="/dll/vendor.js?v=e0a6edfbe14049286c5713d57e1a1f10"></script>
        <script type="text/javascript" src="/scripts-build/app/commons.js?v=e0a6edfbe14049286c5713d57e1a1f10"></script>
        <script type="text/javascript" src="/scripts-build/app/test/testMain.js?v=e0a6edfbe14049286c5713d57e1a1f10"></script>
        <!-- end -->
    </body>
<html>
